body {
  background-color: light grey;
}

 
h1{
  background-color: black;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: Black;

}

}
h2 {
  background-color: gray;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}



