body {
  background-color: white;
}

 
h1{
  background-color: black;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;

}

}
h2 {
  background-color: gray;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
}


li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: gray;
}



